@using Microsoft.AspNetCore.Identity


@if (User.Identity.IsAuthenticated)
{
   
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li>
               <a asp-action="Logout" asp-controller="Account">Logout</a>
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a  asp-action="Login" asp-controller="Account">Login</a></li>
    </ul>
}